* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  line-height: 1.5;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

main {
  border: black solid 1px;
  width: 800px;
  margin: 60px auto;
  position: relative;
}

article {
  padding-top: 20px;
  display: flex;
  margin-bottom: 10px;
}

section {
  padding-left: 20px;
  flex: 1;
}

button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
}

h3::after {
  content: "SALE";
  font-size: 16px;
  padding: 5px 10px;
  background-color: brown;
  color: white;
  position: absolute;
  left: -25px;
  top: -10px;
  letter-spacing: 5px;
  font-weight: bold;
}

a {
  color: black;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.color-container {
  display: flex;
  gap: 5px;
}

.color-container > * {
  padding: 5px 5px;
}

.color-box {
  width: 25px;
  height: 25px;
}

.article-title {
  text-transform: uppercase;
  padding: 10px;
  background-color: #f7f7f7;
  text-align: center;
}
.p-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 30px;
}

.product-summary {
  align-self: top;
}

.product-details {
  align-self: top;
}

.detail-list {
  padding-left: 20px;
}

.detail-list > li {
  padding: 4px;
  list-style-type: square;
}

.yellow {
  background-color: firebrick;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}
