* {
  margin: 0;
  padding: 0;
}
body {
  color: #444;
  line-height: 1.5;
  font-family: sans-serif;
}
main {
  width: 800px;
  margin: 0 auto
}
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  background-color: #f7f7f7;
  font-weight: 600;
  padding: 10px 0;
}
h4 {
  font-weight: 100;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

article {
  border: 2px solid black;
}

.price {
  font-weight: bold;
  font-size: 20px;
}
a {
  color: black;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.product-details {
  list-style-type: square;
  margin-bottom: 20px;
  padding: 20px 20px;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0px;
}

button:hover {
  color: black;
  background-color: white;
}
